In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("/Users/user/Documents/GitHub/Applied-Data-Analytics/Datasets/auto_upgrades.csv")

In [4]:
new_df = df.sort_values(by=df.columns[0],ascending=True).reset_index().drop("index",axis=1)

In [5]:
new_df

    Add-on Sales ($)
0                0.0
1                0.0
2             1500.0
3             1700.0
4             2000.0
5             2300.0
6             3300.0
7             4700.0
8             5000.0
9             8200.0
10            9000.0

In [6]:
new_df.describe()

       Add-on Sales ($)
count         11.000000
mean        3427.272727
std         3023.934824
min            0.000000
25%         1600.000000
50%         2300.000000
75%         4850.000000
max         9000.000000

In [21]:
new_df

    Add-on Sales ($)              bins
0                0.0    (-9.0, 3000.0]
1                0.0    (-9.0, 3000.0]
2             1500.0    (-9.0, 3000.0]
3             1700.0    (-9.0, 3000.0]
4             2000.0    (-9.0, 3000.0]
5             2300.0    (-9.0, 3000.0]
6             3300.0  (3000.0, 6000.0]
7             4700.0  (3000.0, 6000.0]
8             5000.0  (3000.0, 6000.0]
9             8200.0  (6000.0, 9000.0]
10            9000.0  (6000.0, 9000.0]

In [7]:
new_df.mode()

   Add-on Sales ($)
0               0.0