In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("/Users/user/Documents/GitHub/Applied-Data-Analytics/Datasets/auto_upgrades.csv")

In [9]:
df

    Add-on Sales ($)
0             5000.0
1             1700.0
2             8200.0
3             1500.0
4             3300.0
5             9000.0
6             2000.0
7                0.0
8                0.0
9             2300.0
10            4700.0

In [10]:
df.mean()

Add-on Sales ($)    3427.272727
dtype: float64

In [11]:
def diff_mean_squ(x):
    return (x - df.mean())**2

In [17]:
pd.set_option('display.float_format', lambda x: '%.5f' % x)

In [26]:
df[df.columns[0]].apply(diff_mean_squ)

    Add-on Sales ($)
0      2473471.07438
1      2983471.07438
2     22778925.61983
3      3714380.16529
4        16198.34711
5     31055289.25620
6      2037107.43802
7     11746198.34711
8     11746198.34711
9      1270743.80165
10     1619834.71074

In [27]:
sum(df[df.columns[0]].apply(diff_mean_squ)["Add-on Sales ($)"])

91441818.18181816